<div class="container mt-5">
  <div class="row">
      <div class="col-lg-6">
          <h2>À Propos de Nous</h2>
          <p>
              Bienvenue sur notre site web ! Nous sommes une équipe dédiée à fournir les meilleurs services. Notre mission est de vous offrir une expérience inoubliable avec des solutions de qualité.
          </p>
          <p>
              Nous croyons en l'importance de l'innovation, du service client et d'une approche personnalisée pour chaque projet. Notre équipe est composée de professionnels expérimentés passionnés par leur métier.
          </p>
      </div>
      <div class="col-lg-6">
          <img src="../../../assets/uisj.jpeg" class="img-fluid" alt="Image représentative">
      </div>
  </div>
</div>
