<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand text-white" href="#">
      <img src="../../../assets/uisj.jpeg" alt="Logo">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/accueil">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/about">À Propos</a>
      </li>
      <li class="nav-item">


    </ul>
  </div>
</nav>

