<footer class="bg-light text-center text-lg-start">
  <div class="container py-2"> <!-- Ici, le padding est réduit -->
    <!-- Section: Contact -->
    <section>
      <p class="fw-bold mb-1">Contactez-nous :</p>
      <p>Téléphone: +237 698756907</p>
    </section>

    <!-- Divider -->
    <hr class="my-2" style="background-color: rgba(0, 0, 0, 0.2);">

    <!-- Section: Copie right -->
    <div class="text-center p-2"> <!-- Padding réduit ici également -->
      © 2023 Droit d'auteur: <a class="text-dark" href="#">DJOMOU_RICK</a>
    </div>
  </div>
</footer>
