<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand text-white" href="#">
      <img src="../../../assets/uisj.jpeg" alt="Logo">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/accueil">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/about">À Propos</a>
      </li>
      <li class="nav-item">


    </ul>
  </div>
</nav>



<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="content bg-light p-4 border rounded">
        <div class="subcontent">
          <h3 class="text-center">Bienvenu dans notre site web</h3>
          <p class="fw-bold">Djomou Rick</p>
          <p>ING 4 ISI</p>
          <p>Cours de CI/CD</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-light text-center text-lg-start">
  <div class="container py-2"> <!-- Ici, le padding est réduit -->
    <!-- Section: Contact -->
    <section>
      <p class="fw-bold mb-1">Contactez-nous :</p>
      <p>Téléphone: +237 698756907</p>
    </section>

    <!-- Divider -->
    <hr class="my-2" style="background-color: rgba(0, 0, 0, 0.2);">

    <!-- Section: Copie right -->
    <div class="text-center p-2"> <!-- Padding réduit ici également -->
      © 2023 Droit d'auteur: <a class="text-dark" href="#">DJOMOU_RICK</a>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>

